:root {
    --main: rgb(0, 199, 199);
    --up: #169901;
    --down: #BD0000;
    --purple: rgb(223, 88, 223, 0.6);
    --yellow: rgb(250, 232, 68, 0.6);
    --blue: rgba(20, 228, 228, 0.6);
    --gray: rgb(153, 153, 153);
    --main2: rgba(0, 199, 199, 0.614);
    --main3: rgba(0, 199, 199, 0.269);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0px;

    font-family: 'Roboto', sans-serif;
    color: rgb(41, 41, 41);

    background-image: linear-gradient(rgba(61, 61, 61, 0.381), rgba(69, 69, 69, 0.404)), url("https://images.unsplash.com/photo-1483004406427-6acb078d1f2d?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXF1YXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
}

#window {
    display: flex;
    
    height: 90vh;
    width: 80vw;

    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;

    background-color: rgba(225, 248, 246, 0.486);
    overflow: hidden; 
    backdrop-filter: blur(5px);
}

h2 {
    margin: 0;
    font-size: 1.2vw;
}
h3 {
    margin: 0;
    font-size: 0.8vw;
    color: grey;
}

aside {
    height: 90vh;
    width: 5vw;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;

    background-color: var(--main);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 80%;
}

button {
    width: 100%;
    height: 3.7vw;
    border: none;
    background-color: var(--main);
    cursor: pointer;
    
}
.avatar {
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    margin-bottom: 2vw;
}
.icon {
    height: 1.5vw;
    width: 1.5vw;
}
button:hover {
    transition-duration: 0.3s;
    background-color: rgb(30, 219, 219);
}

.active {
    background-color: rgb(2, 190, 190);
}

#quit {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 20%;
}
#quit img {
    height: 1vw;
    width: 1vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

section {
    padding: 1vw;
}
.content {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.76);
    height: 100%;
    width: auto;
    border-radius: 1vw;
}


#group1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}
#group2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
}
    #group2-1 {
        display: flex;
        height: 75%;
        width: 100%;
    }
        #group2-1-1 {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 30%;
        }
        #group2-1-2 {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 70%;
        }
            #group2-1-2-1 {
                display: flex;
                height: 55%;
                width: 100%;
            }
                #group2-1-2-1-1 {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 50%;
                }
                #group2-1-2-1-2 {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 50%;
                }
            #group2-1-2-2 {
                display: flex;
                flex-direction: column;
                height: 45%;
                width: 100%;
            }
    #group2-2 {
        display: flex;

        height: 25%;
        width: 100%;
    }

.separator {
    width: 0;
    height: 100%;
    border: 1px solid var(--gray);
    margin: 1vw;
}

#balance {
    margin: 0;
    
    font-size: 2.5vw;
}
#favorite {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    .arrow-img {
        margin-bottom: -0.2vw;
        height: 1.7vw;
    }
    .mark {
        text-align: center;
        font-size: 1.7vw;
        background-color: rgba(255, 255, 255, 0);
    }
        .up {
            color: var(--up);
            display: inline;
        }
        .down {
            color: var(--down);
            display: inline;
        }
    #favorite span {
        font-size: 1vw;
        text-align: center;
    }

.chart1 {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 90%;
    height: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--gray);
    border-left: 2px solid var(--gray);
}
    .chart-block {
        width: 12%;
        border-top-right-radius: 0.2vw;
        border-top-left-radius: 0.2vw;
    }
    .chart-desc {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30%;
    }  
        .chart-desc span {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }  
        .chart-desc-box {
            height: 0.8vw;
            width: 0.8vw;
            margin-right: 0.2vw;
            border-radius: 0.2vw;
        }

#profit {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.progress-bar {
    display: flex;
    height: 2vh;
    width: 90%;
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}
.progress-left {
    height: 100%;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
}    
.progress-mid {
    height: 100%;
}    
.progress-right {
    height: 100%;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
}
#subscribed {
    display: flex;
    flex-direction: column;
}    
    .sub-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.2vw;
    }